﻿@using System.IO
@using System.Text
@inject FileManager FileManager

<button @attributes="@InputAttributes" @onclick="@BeginDownload">
    @ChildContent
</button>

@code {
    [Parameter]
    public byte[]? Data { get; set; }

    [Parameter]
    public Func<Task<Stream>>? DataFactory { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string FileName { get; set; } = "file.txt";

    [Parameter]
    public string MimeType { get; set; } = "plain/text";

    protected override void OnParametersSet()
    {
        if(Data is null && DataFactory is null)
        {
            throw new ArgumentNullException(nameof(Data), $"{nameof(Data)} or {nameof(DataFactory)} must be set");
        }
    }

    protected async Task BeginDownload()
    {
        Stream? reader = null;
        try
        {
            if(Data is not null)
            {
                reader = new MemoryStream(Data);
                reader.Seek(0, SeekOrigin.Begin);
            }
            else
            {
                reader = await DataFactory!.Invoke();
            }
            await FileManager.DownloadFile(new Microsoft.JSInterop.DotNetStreamReference(reader), FileName, MimeType);
        }
        finally
        {
            reader?.Dispose();
        }
    }
}