@using Gronea.Timereg.Client.ViewModels


<div class="flex mr-6">
    <svg aria-label="@Model?.AriaLabel"
         class="h-5 w-5 fill-current text-green-500"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24"
         stroke="@Model?.Stroke">
        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="@Model?.IconPath"></path>
    </svg>
    <span class="ml-2 text-sm light-mode:text-gray-600 text-orange-600 capitalize">
        @Model?.Text
    </span>
</div>
@code {
    [Parameter]
    public IconViewModel? Model { get; set; }
}
