@using Gronea.Timereg.Client.Pages; 

@inject RouteService Routes

<div>
    <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <NavLink href="@Routes.GetHomeRoute()" Match="NavLinkMatch.All">
                            <img class="h-8 w-8 inline-block" src="" alt="Timereg" />
                            <span class="text-green-500 text-2xl font-semibold inline-block align-middle p-4">Timereg</span>
                        </NavLink>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <a href="https://github.com/Gronex/timereg/blob/master/CHANGELOG.md" target="_blank">
                            <span class="text-lg align-middle">Version TODO</span>
                        </a>
                        <a href="https://github.com/Gronex/timereg/issues" target="_blank">
                            <span aria-label="Github issues" class="pl-2 material-icons text-4xl inline-block align-middle">bug_report</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
