@using Gronia.Timereg.Application
@using Gronia.Timereg.Client.ViewModels
@using Gronia.Timereg.Client.Components

@page "/{date:datetime}"
@inject ITimeRegistrationRepository Repo
@inject RouteService Routes

<h1 class="text-xl font-bold pt-2 px-4">@Date.Date.ToShortDateString()</h1>

<List Items="_listItems" />

@code {
    [Parameter]
    public DateTime Date { get; set; }

    IEnumerable<ListItemViewModel> _listItems = Enumerable.Empty<ListItemViewModel>();

    protected override async Task OnInitializedAsync()
    {
        var registrations = await Repo.GetAllRegistrationAsync(Date);
        _listItems = registrations
            .Select(x => new ListItemViewModel(x.Description, new IconViewModel[]
            {
                new IconViewModel(x.Project, ViewModels.Icon.Project, "Project"),
                new IconViewModel((x.StopTime - x.StartTime)?.ToString() ?? TimeSpan.Zero.ToString(), ViewModels.Icon.Time, "Hours"),
            }, Routes.GetEditRoute(x.Id))).ToList();
    }
}
